.container {
  width: 1280px;
  margin: 0 auto;
  min-height: 1280px;
  position: relative;
  overflow: hidden;
}

.article {
  width: 100%;
  margin: 100px 0;
  position: relative;
}
.article h2 {
  font-size: 8rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
}
.imgBox {
  height: 500px;
  overflow: hidden;
}
.imgBox img {
  width: 100%;
  transform: translateY(-500px);
  filter: sepia(0.4) contrast(1.2);
  overflow: hidden;
}
.postsContainer {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
}
.link {
  position: absolute;
  right: 0rem;
  top: 1.4rem;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  background-color: #2f3640;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
